header {
  min-height: 70px;
  padding: 0.5rem;
  width: 100%;
  background-color: #6741d9;
  border-radius: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
.search,
.results {
  color: white;
  text-align: center;
}

.logo {
  flex: 1;
  cursor: pointer;
}

@media (max-width: 640px) {
  .logo {
    display: none;
  }
}
.search {
  flex: 2;
}
.search input {
  border: none;
  width: 100%;
  max-width: 600px;
  font-size: 16px;
  padding: 0.6rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.search input:focus {
  outline: none;
  transform: translateY(-2px);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 6px,
    rgba(0, 0, 0, 0.3) 0px 7px 15px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.results {
  flex: 1;
}
